<div id="<%= dom_id topup %>">
  <p>
    <strong>Code:</strong>
    <%= topup.code %>
  </p>

  <p>
    <strong>Transaction type:</strong>
    <%= topup.transaction_type %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= topup.amount %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= topup.stock_id %>
  </p>

  <p>
    <strong>Sender:</strong>
    <%= topup.sender_id %>
  </p>

  <p>
    <strong>Receiver:</strong>
    <%= topup.receiver_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= topup.status %>
  </p>

</div>
