<div id="<%= dom_id stock %>">
  <p>
    <strong>Name:</strong>
    <%= stock.name %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= stock.code %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= stock.stock_type %>
  </p>

  <p>
    <strong>Balance:</strong>
    <%= stock.balance %>
  </p>

</div>
