<div id="<%= dom_id withdraw %>">
  <p>
    <strong>Code:</strong>
    <%= withdraw.code %>
  </p>

  <p>
    <strong>Transaction type:</strong>
    <%= withdraw.transaction_type %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= withdraw.amount %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= withdraw.stock_id %>
  </p>

  <p>
    <strong>Sender:</strong>
    <%= withdraw.sender_id %>
  </p>

  <p>
    <strong>Receiver:</strong>
    <%= withdraw.receiver_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= withdraw.status %>
  </p>

</div>
