<div id="<%= dom_id transaction %>">
  <p>
    <strong>Code:</strong>
    <%= transaction.code %>
  </p>

  <p>
    <strong>Transaction type:</strong>
    <%= transaction.transaction_type %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= transaction.amount %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= transaction.stock_id %>
  </p>

  <p>
    <strong>Sender:</strong>
    <%= transaction.sender_id %>
  </p>

  <p>
    <strong>Receiver:</strong>
    <%= transaction.receiver_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= transaction.status %>
  </p>

</div>
