<p style="color: green"><%= notice %></p>

<div class="card">
  <div class="card-header">
    <h1>Transaction Detail</h1>
  </div>
  <div class="card-body">
    <p>
      <strong>Code:</strong>
      <%= @transaction.code %>
    </p>

    <p>
      <strong>Amount:</strong>
      <%= @transaction.amount %>
    </p>

    <p>
      <strong>Sender:</strong>
      <%= @transaction.sender_id %>
    </p>

    <p>
      <strong>Receiver:</strong>
      <%= @transaction.receiver_id %>
    </p>

    <p>
      <strong>Status:</strong>
      <%= @transaction.status %>
    </p>

    <div>
      <span><%= link_to "Back", transactions_path, class: 'btn btn-outline-primary btn-sm' %></span>
      <span><%= link_to "Edit", edit_transaction_path(@transaction), class: 'btn btn-primary btn-sm' %></span>
    </div>
  </div>
</div>
